/* body{
    background-color: darkgray;
} */
p{
    color: #777777;
}
.full-header {
    
    padding: 0px;
    background-color: #ffffff;
    border: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin: 0px 0px 0px 0px;
    
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

}
.header {
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 70px;
    position: relative;
    bottom: 0px;
    width: 960px;
    margin: 0px auto;
}
.nav {
    position: absolute; 
    bottom: 0px;
    right: 0px;
    padding: 10px;
}
.nav-tag:link{
    text-decoration: none;
}
.nav-tag:visited{
    text-decoration: none;
}

.nav-tag:hover{
    background: #4aaaa5;
    color: #ffffff;
}

.name-tag {
    background-color: #4aaaa5;
    float: left;
    min-width: 150px;
    color: #ffffff;
    padding: 11px;
    margin: 0px;
    font-size: 33px;
    font-weight: bold;
    display: block;
    position: absolute;
    bottom: 0px;
}
.body{
    clear: both;
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 120px auto;
    width: 960px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    align-content: center;
    align-self: center;
}

.portfolio {
    
    border-style: solid;
    border-color: #dddddd;
    border-width: 0px 1px 0px 1px;
}

.portfolio, .contact, .about {
    padding: 0px 10px;
}

.section-heading{
    color: #4aaaa5;
    border-bottom-style: solid;
    border-color: #dddddd;
    border-bottom-width: 1px;
    margin: 20px 20px;
    padding: 20px 0px;
    display: block;
    font-size: 30px;
    font-weight: bold;
}

.section-p{
    margin-left: 20px;
    letter-spacing: 0px;
    line-height: 30px;
    font-size: 18px;
}

.css-image{
    float: left;
    margin: 10px 20px 20px 20px;
}

/* .grid-container{
    display: grid;
    columns: 3;
    column-gap: 0px;
} */

.lable{
    margin: 0px 20px;
    padding-top: 10px;
}

.input-name, .input-email, .input-message{
    margin: 5px 20px;
    width: 915px;
}

.input-message{
    height: 100px;
}

.btn-send{
    background-color: #4aaaa5;
    color: #ffffff;
    margin:0px 20px 20px 20px;
    padding: 5px 20px;
    border-style: none;
}

.port-tag{
    float: left;
    position: relative;
    margin:20px; 
}
.port-img{
    width: 300px;
    height: 200px;
}
.port-title{
    position: absolute;
    bottom: 10px;
    background-color: #4aaaa5;
    width: 300px;
    text-align: center;
    padding: 5px 0;
    color: #ffffff;
    font-size: 18px;
}

.port-tag:hover{
    opacity: 0.7;
}

.footer{
    color: #dddddd;
    background-color: #666666;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 5px;
    font-size: 18px;
}

.clearfix::after/*, #left, #center, #right*/ {
  content: "";
  display: block;
  clear: both;
}